<div class="container">
  <table class="table">
    <caption>
      {{listaPedido.length}} <div id="idCaptionPedidosCreados">Pedidos creados</div>
    </caption>
    <thead>
      <tr>
        <td>#</td>
        <th>Fecha</th>
        <th>Código producto</th>
        <th>Código cliente</th>
        <th>Dirección domicilio</th>
        <th>Placa vehículo</th>
        <th>Precio domicilio</th>
        <th>Precio total</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of listaPedido; let i = index">
        <td>{{ i }}</td>
        <th >{{ pedido.fecha }}</th>
        <th >{{ pedido.codigoProducto }}</th>
        <th >{{ pedido.codigoCliente }}</th>
        <th >{{ pedido.direccionDomicilio }}</th>
        <th >{{ pedido.placaVehiculo }}</th>
        <th >{{ pedido.precioDomicilio | currency }}</th>
        <th >{{ pedido.precioTotalCompra | currency }}</th>
        <th (click)="eliminar(pedido.id)">
          <span
            class="mdi mdi mdi-24px mdi-delete"
            style="cursor: pointer; color:red;"
          ></span>
        </th>
      </tr>
    </tbody>
  </table>
</div>
