<div class="container">
  <div class="columns">
    <div class="column is-three-fifths">
      <br />
      <app-mensaje-servidor [mensaje]="mensajeServidor"></app-mensaje-servidor>
      <form [formGroup]="formulario" (ngSubmit)="guardar($event)">
        <div class="field">
          <label class="label">Fecha</label>
          <div class="control">
            <input
              validar
              validacionInicial
              id="idFecha"
              class="input is-small"
              type="date"
              placeholder="Ingrese la fecha"
              formControlName="fecha"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Porcentaje de descuento</label>
          <div class="control">
            <input
              validar
              validacionInicial
              id="idPorcentajeDescuento"
              class="input is-small"
              type="number"
              formControlName="porcentaje"
              min="0"
              placeholder="Ingrese el porcentaje de descuento."
            />
          </div>
        </div>
        <br />
        <div class="field is-grouped">
          <div class="control">
            <button
              id="idBotonCrearDescuento"
              type="submit"
              class="button is-success"
            >
              Crear
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
