<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="guardar()">
    <div class="item m-top">
      <mat-form-field appearance="outline" class="mat-form-field">
        <mat-label>Fecha del pedido</mat-label>
        <input
          validar
          validacionInicial
          matInput
          [matDatepicker]="picker"
          formControlName="fecha"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="item">
      <mat-form-field class="item" appearance="outline" class="mat-form-field">
        <mat-label>Código del producto</mat-label>
        <input
          matInput
          validar
          validacionInicial
          type="text"
          formControlName="codigoProducto"
        />
      </mat-form-field>
    </div>
    <div class="item">
      <mat-form-field class="item" appearance="outline" class="mat-form-field">
        <mat-label>Código del cliente</mat-label>
        <input
          matInput
          validar
          validacionInicial
          type="text"
          formControlName="codigoCliente"
        />
      </mat-form-field>
    </div>
    <div class="item">
      <mat-form-field class="item" appearance="outline" class="mat-form-field">
        <mat-label>Dirección del domicilio</mat-label>
        <input
          matInput
          validar
          validacionInicial
          type="text"
          formControlName="direccionDomicilio"
        />
      </mat-form-field>
    </div>
    <div class="item">
      <mat-form-field class="item" appearance="outline" class="mat-form-field">
        <mat-label>Placa del vehículo</mat-label>
        <input
          matInput
          validar
          validacionInicial
          type="text"
          formControlName="placaVehiculo"
        />
      </mat-form-field>
    </div>
    <div class="item">
      <mat-form-field class="item" appearance="outline" class="mat-form-field">
        <mat-label>Precio de la compra</mat-label>
        <input
          matInput
          validar
          validacionInicial
          min="0"
          type="number"
          formControlName="precioCompra"
        />
      </mat-form-field>
    </div>
    <button class="btn" mat-raised-button color="primary" type="submit">Crear</button>
  </form>
</div>
