/* You can add global styles to this file, and also import other style files */

:root {
  --my-color-red: #f44336;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.notificacion-service {
  background-color: var(--my-color-red);
  background: black;
}
