<div
  class="flex-container"
  *ngIf="descuentos$ | async | filtroDescuentos: texto as desc"
>
  <div class="flex-item1">
    <button mat-mini-fab color="primary" (click)="abrirDialogoCrearDescuento()">
      <mat-icon>add</mat-icon>
    </button>
    <div class="buscar">
      <mat-form-field class="form-field-buscar" appearance="fill">
        <mat-label>Buscar</mat-label>
        <input #inputFiltro matInput type="text" [(ngModel)]="texto" />
        <button
          *ngIf="texto"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="texto = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <small>
        {{ contador(desc) }}
      </small>
    </div>
  </div>
  <div class="flex-item2">
    <table mat-table [dataSource]="desc" class="mat-elevation-z8">
      <ng-container matColumnDef="fecha">
        <th style="text-align: center;" mat-header-cell *matHeaderCellDef>
          Fecha
        </th>
        <td style="text-align: center;" mat-cell *matCellDef="let element">
          {{ element.fecha }}
        </td>
      </ng-container>
      <ng-container matColumnDef="descuento">
        <th style="text-align: right;" mat-header-cell *matHeaderCellDef>
          % descuento
        </th>
        <td style="text-align: right;" mat-cell *matCellDef="let element">
          {{ element.porcentaje / 100 | percent }}
        </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th style="text-align: center;" mat-header-cell *matHeaderCellDef>
          Acciones
        </th>
        <td style="text-align: center;" mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="eliminar(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
