<div class="columns">
  <div class="column is-half">
    <table class="table" style="width: 100%; overflow-x: auto">
      <caption id="idCaptionDescuentosCreados" style="text-align: center;">
        {{
          (descuentos | async).length
        }}
        Descuentos creados
      </caption>
      <thead>
        <tr>
          <td>#</td>
          <th>Fecha</th>
          <th>% descuento</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let descuento of descuentos | async; let i = index">
          <td>{{ i + 1 }}</td>
          <th>{{ descuento.fecha }}</th>
          <th>{{ descuento.porcentaje / 100 | percent }}</th>
          <th>
            <button (click)="eliminar(descuento.id)">
              <span
                class="mdi mdi mdi-24px mdi-delete"
                style="cursor: pointer; color: hsl(348, 100%, 61%)"
              ></span>
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
